
{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <br>
            <form method="POST" action="/jury_opt">
                {% for jury in juries %}
                        {{ jury.name }} <button type="submit" name="kick" value="{{jury.name}}" class="btn-sm btn btn-danger"> Kick </button>
                        <br>
                        <br>
                {% endfor %}
            </form>
                
        </div>
</div>
{% endblock %}